Example 1

In [2]:
print("Hello world!")

Hello world!

Example 2

In [5]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

Example 3

In [8]:
if 5 > 2:
    print("Five is greater than two")

Five is greater than two

Example 4 with error

In [12]:
if 5 > 2:
print("Five is greater than two")

IndentationError: expected an indented block after 'if' statement on line 1 (4267780824.py, line 2)

Example 5

In [15]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Example 6 with error

In [19]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

Example 7

In [24]:
x = 5
y = "Hello world!"

Example 8

In [31]:
#This is example
print("Hello world")

Hello world

Example 9

In [34]:
print("Hello world!") #This is comment

Hello world!

Example 10

In [37]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Example 11

In [40]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Example 12

In [43]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Example 13

In [46]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example 14

In [49]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Example 15

In [52]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Example 16

In [55]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 17

In [58]:
x = "John"
# is the same as
x = 'John'

Example 18

In [61]:
a = 4
A = "Sally"
#A will not overwrite a

Example 19

In [64]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Example 20 with error

In [67]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Example 21

In [70]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example 22

In [73]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Example 23

In [76]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Example 24

In [79]:
x = "Python is awesome"
print(x)

Python is awesome

Example 25

In [82]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example 26

In [85]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Example 27

In [88]:
x = 5
y = 10
print(x + y)

15

Example 28 with error

In [91]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Example 29

In [94]:
x = 5
y = "John"
print(x, y)

5 John

Example 30

In [97]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Example 31

In [100]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Example 32

In [103]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 33

In [106]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 34

In [109]:
x = 5
print(type(x))

<class 'int'>

Example 35

In [112]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Example 36

In [115]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Example 37

In [118]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Example 38

In [121]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 39

In [124]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 40

In [127]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Example 41

In [130]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Example 42

In [133]:
import random

print(random.randrange(1, 10))

7

Example 43

In [136]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

Example 44

In [139]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

Example 45

In [142]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Example 46

In [145]:
print("Hello")
print('Hello')

Hello
Hello

Example 47

In [148]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Example 48

In [151]:
a = "Hello"
print(a)

Hello

Example 49

In [154]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 50

In [157]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 51

In [160]:
a = "Hello, World!"
print(a[1])

e

Example 52

In [163]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Example 53

In [166]:
a = "Hello, World!"
print(len(a))

13

Example 54

In [169]:
txt = "The best things in life are free!"
print("free" in txt)

True

Example 55

In [172]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Example 56

In [176]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Example 57

In [179]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Example 58

In [182]:
b = "Hello, World!"
print(b[2:5])

llo

Example 59

In [185]:
b = "Hello, World!"
print(b[:5])

Hello

Example 60

In [188]:
b = "Hello, World!"
print(b[2:])

llo, World!

Example 61

In [192]:
b = "Hello, World!"
print(b[-5:-2])

orl

Example 62

In [195]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Example 63

In [198]:
a = "Hello, World!"
print(a.lower())

hello, world!

Example 64

In [201]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Example 65

In [204]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Example 67

In [207]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Example 68

In [210]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Example 69

In [213]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Example 70 with error

In [217]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

Example 71

In [220]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Example 72

In [223]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Example 73

In [226]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Example 74

In [229]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Example 75 with error

In [232]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

Example 76

In [236]:
txt = "We are the so-called \"Vikings\" from the north."